*{
    padding: 0;
    margin: 0;
    transition: .5s ease-in-out;
 }
 ul {
    list-style: none;
 }
 a {
    text-decoration: none;
    outline: none;
 }
 img {
    display: block;
    width: 100%;
    max-width: 700px;
 }
 h1, h2, h3, h4, h5, h6 {
    font-family: 'Playfair Display';
    font-weight: normal;
    letter-spacing: 1px;
 }
 body {
    font-family: Arial, Helvetica, sans-serif;;
    font-size: 14px;
    line-height: 1;
    color: #373737;
    background: #f7f7f7;
    min-width: 1170px;
 }
 header:after, .container:after, footer:after, .widget-posts-list li:after, #subscribe:after {
    content: "";
    display: table;
    clear: both;
 }
 .container {
    margin: 0 auto;
    width: 100%;
    max-width: 700px;
    padding: 0 15px;
 }
 header {
    width: 100%;
    background: white;
    box-shadow: 3px 3px 1px rgba(0, 0, 0, .05);
    padding: 15px 0;
    margin-bottom: 30px;
    position: relative;
 }
 /* логотип */
 .logo {
    display: block;
    float: left;
 }
 .logo span {
    color: white;
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
    margin: 5px 0;
    text-align: center;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, .4);
 }
 .logo span:nth-child(odd) {
    background: #066bf0;
 }
 .logo span:nth-child(even) {
    background: #954dda;
 }
 /* меню */
 #menu {
    float: right;
 }
 #menu li {
    display: inline-block;
    margin-right: 30px;
 }
 #menu a {
    color: #111;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
    display: block;
    line-height: 40px;
 }
 #menu a:hover {
    color: #EF5A42;
 }
 #menu li:last-child {
    margin-right: 0;
 }
 /* форма поиска */
 #searchform {
    float: right;
    margin-left: 46px;
    display: inline-block;
    position: relative;
 }

 #searchform input {
    width: 170px;
    float: left;
    border: none;
    padding-left: 10px;
    height: 40px;
    overflow: hidden;
    outline: none;
    color: #9E9C9C;
    font-style: italic;
 }
 #searchform button {
    background: transparent;
    height: 40px;
    border: none;
    position: absolute;
    right: 10px;
    color: #066bf0;
    cursor: pointer;
    font-size: 18px;
 }
 #searchform input:focus {
    outline: 2px solid #EBEBE3;
 }
 /* кнопка переключения меню, появляющаяся при ширине 768px */
 .nav-toggle {
    display: none;
    position: relative;
    float: right;
    width: 40px;
    height: 40px;
    margin-left: 20px;
    background: #EF5A42;
    cursor: pointer;
 }
 .nav-toggle span {
    display: block;
    position: absolute;
    top: 19px;
    left: 8px;
    right: 8px;
    height: 2px;
    background: white;
 }
 .nav-toggle span:before, .nav-toggle span:after {
    content: "";
    position: absolute;
    display: block;
    left: 0;
    width: 100%;
    height: 2px;
    background: white;
 }
 .nav-toggle span:before {
    top: -10px;
 }
 .nav-toggle span:after {
    bottom: -10px;
 }

 #menu.active {
    max-height: 123px;
 }

 .preview{
	background-image:url(img/3.jpg); 
	width: 100%;
	height: 750px;
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-color: #e7e6e6;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.preview_content{
    text-align: center;
}

.preview_title{
	max-width: 900px;
	font-size: 65px;
	font-weight: 300;
	margin-bottom: 25px;
}

.news{
	width: 1170px;
	padding: 70px 30px;
    display: flex;
   flex-direction: column;
   align-items: center;
}

.news_title{
	font-size: 24px; 
	font-family: 'Open Sans';
  
}

.news_list{
   display: flex;
	width: 1170px;
}
.news_item{
	flex-direction: column;
}

.new_img{
	width: 300px;
	height: 200px;
	border-radius: 30px;
	margin: 50px 0 0 0;
}

.new_content{
	font-family: 'Open Sans';
	width: 75%;
	height: 170px;
	margin: 10px 0 0 0;
}

.new_title{
	font-size: 20px;
	margin: 15px 0 0 0;
}

.new_text{
	font-size: 18px;
	margin: 15px 0;
}

.my{
    width: 100%;
    background: #199cff;
    padding: 10px 0px 10px 0px;
}

.my_container{
   width: 100%;
}

.karta{
    width: 100%;
}

.karta_container{
    width: 1170px;
    padding: 100px 30px;
}

.karta_title{
    font-size: 24px;
    margin: 0 0 50px 0;  
    font-family: 'Roboto';
}

.karta_wrapp {
    display: flex;
    justify-content: flex-start;
}

.karta_img{
    width: 500px;
    height: 300px;
}  

.karta_text{
    font-size: 20px;
    margin: 30px 50px 0px 0px; 
    font-family: 'Roboto';
}

.registr{

}

footer {
    padding: 30px 0;
    background: #3C3D41;
    color: white;
 }
 .footer-col {
    width: 33.3333333333%;
    float: left;
 }
 .footer-col a {
    color: white;
 }
 .footer-col:last-child {
    text-align: right;
 }
 .social-bar-wrap {
    text-align: center;
 }
 .social-bar-wrap a {
    padding: 0 7px;
    font-size: 18px;
 }

  @media screen and (max-width: 768px) {

    .nav-toggle {
       display: block;
    }
    header {
       padding: 10px 0;
    }

    #menu {
       max-height: 0;
       background: white;
       float: none;
       position: absolute;
       overflow: hidden;
       top: 63px;
       right: 0;
       left: 0;
       margin: 0;
       padding: 0;
       z-index: 3;
    }

    #menu li {
       display: block;
       text-align: center;
       border-bottom: 1px solid #EBEBE3;
       margin-right: 0;
    }

    .posts-list, aside {
       width: 100%;
       float: none;
    }
    .widget-post-title {
       font-size: 1.5em;
    }
 }

 @media screen and (max-width: 480px) {

    .logo {
       float: none;
       margin: 0 auto 15px;
       display: table;
    }
    .logo span {
       margin: 0 2px;
    }

    #menu {
       top: 118px;
    }

    #searchform {
       float: left;
       margin-left: 0;
    }

    .post-footer {
       border-top: none;
       border-bottom: none;
       text-align: center;
    }

    .post-social {
       position: static;
       text-align: center;
       transform: none;
       margin-top: 20px;
    }
    .widget-post-title {
       font-size: 1.2em;
    }

    .footer-col {
       float: none;
       margin-bottom: 20px;
       width: 100%;
       text-align: center;
    }
    .footer-col:last-child {
       text-align: center;
       margin-bottom: 0;
    }
 }

